nav { background-color: #274C77; width: 100%; }
nav .container { display: flex; }
nav ul li { display: inline; margin-right: 10px; font-size: 18px; }
nav ul li a { color: #E7ECEF; text-decoration: none; }