.Record .titleContainer { width: 100%; text-align: center; margin-bottom: 50px; }
.Record table { font-family: arial, sans-serif; border-collapse: collapse; width: 100%; }  
.Record td, th { border: 0px solid #dddddd; text-align: left; padding: 8px; }
.Record tr:nth-child(even) { background-color: #A3CEF1; }